@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --span: 224, 10%, 45%;
    --text: 225, 11%, 85%;
    --title: 220, 7%, 83%;
    --border: 240 5.9% 90%;
    --label: 253, 13%, 40%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --span: 0, 0%, 73%;
    --text: 251, 7%, 45%;
    --title: 253, 13%, 40%;
    --border: 240 3.7% 15.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --link: 245, 82%, 67%;
    --link-foreground: 245, 39%, 46%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --background: 240 10% 3.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0%, 4%;
    --foreground: 0, 0%, 93%;
  }
}


@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    place-items: center;
    font-family: "Inter", sans-serif;
    @apply bg-background text-foreground;
  }

  body > * &::-webkit-scrollbar {
    width: 5px;
  }
  body > * &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  body > * &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: 0, 0%, 77%;
  }

  input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Tema claro */
  body input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #a6adbb;
  }

  /* Tema escuro */
  .dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #283046 inset;
    -webkit-text-fill-color: #a6adbb;
  }
  
  .background {
    background-image: url('../assets/images/stacks_bg.svg');
    background-size: cover; /* Ajusta a imagem para cobrir o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede repetição da imagem */
  }

  .custom-rounded {
    border-start-start-radius: inherit !important;
    border-start-end-radius: inherit !important;
    border-end-start-radius: unset !important;
    border-end-end-radius: unset !important;
  }

  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .khula-light {
    font-family: "Khula", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .khula-regular {
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .khula-semibold {
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  
  .khula-bold {
    font-family: "Khula", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .khula-extrabold {
    font-family: "Khula", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .logo {
    display: flex;
    width: 97.698px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Major Mono Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: -1.08px;
    background: linear-gradient(180deg, #FFF 0%, rgba(30, 30, 30, 0.21) 85.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  #root{
    height: 100vh;
  }
  body {
    @apply bg-background text-foreground;
  }
}
